*
{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: "Inter", sans-serif;
  color: white;
}

body
{
  background-color: black;
  padding: 2rem;
}

p
{
  color: wheat;
  text-align: center;
}

ul
{
  list-style: none;
}

a
{
  /** tira o underline dos links */
  text-decoration: none;
}

a:hover
{
  opacity: 1;
}